body {
	font-family: 'Josefin Sans', sans-serif;
	color: #747704;
	font-weight: 300;
}

.text-thin {
	font-weight: 100;
	margin-bottom: -20px;
}

.text-muted {
	color: #BCBBBB;
}

.logo {
	width: 75px;
	height: 75px;
	margin-top: 20px;
}

.image1 {
	width: 100%;
}

h1 {
	color: #e972a7;
	font-size: 3.5em;
	font-weight: 600;
}

h2 {
	font-size: 2em;
	font-weight: 400;
}

h3 {
	font-size: 1.5em;
	margin-bottom: -10px;
}

h4 {
	font-size: 1.25em;
}

hr { 
	background-color: #84b4b3; height: 1px; border: 0; 
}
